In [1]:
import pandas as pd

In [100]:
df = pd.read_csv('labeled_data.csv', engine='python')

In [85]:
df.tail()

,media,ar_num,title,text_num,source,non_source,sen_num,verb_num,non_find_verb,sub_verb,email,non_text
233,경남신문,329695745,2019년 1월 3일자 운세,1986,0,0,62,62,0,61,1,1
234,경남신문,329695758,3일 TV 하이라이트,782,5,1,16,8,0,3,0,1
235,경남신문,329695761,‘창원’의 문명·인간·문화,1166,5,1,16,14,0,0,1,1
236,경남신문,329695890,난 빛덩어리 - 김금래,700,4,0,19,9,7,0,0,1
237,경남신문,329695891,"경남체육회, 도내 학교체육 육성 지원",812,1,1,10,10,0,0,2,0

In [86]:
df.shape

(238, 12)

In [87]:
# 투명 취재원 4명 이상 + 기자 2명 + 주관적 서술어 0.5 이상
# 1점: 비문일 경우
# 5점 만점에서 항목 당 만족하지 않는 경우마다 -1점

In [101]:
df['trust'] = 5

In [102]:
df.tail()

,media,ar_num,title,text_num,source,non_source,sen_num,verb_num,non_find_verb,sub_verb,email,non_text,trust
233,경남신문,329695745,2019년 1월 3일자 운세,1986,0,0,62,62,0,61,1,1,5
234,경남신문,329695758,3일 TV 하이라이트,782,5,1,16,8,0,3,0,1,5
235,경남신문,329695761,‘창원’의 문명·인간·문화,1166,5,1,16,14,0,0,1,1,5
236,경남신문,329695890,난 빛덩어리 - 김금래,700,4,0,19,9,7,0,0,1,5
237,경남신문,329695891,"경남체육회, 도내 학교체육 육성 지원",812,1,1,10,10,0,0,2,0,5

In [103]:
df['ratio_sub'] = df['sub_verb']/df['verb_num']

In [104]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 238 entries, 0 to 237
Data columns (total 14 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   media          238 non-null    object
 1   ar_num         238 non-null    int64
 2   title          238 non-null    object
 3   text_num       238 non-null    int64
 4   source         238 non-null    int64
 5   non_source     238 non-null    int64
 6   sen_num        238 non-null    int64
 7   verb_num       238 non-null    int64
 8   non_find_verb  238 non-null    int64
 9   sub_verb       238 non-null    int64
 10  email          238 non-null    int64
 11  non_text       238 non-null    int64
 12  trust          238 non-null    int64
 13  ratio_sub      235 non-null    float64
dtypes: float64(1), int64(11), object(2)
memory usage: 26.2+ KB

In [105]:
df['non_text']

0      0
1      0
2      0
3      0
4      0
      ..
233    1
234    1
235    1
236    1
237    0
Name: non_text, Length: 238, dtype: int64

In [106]:
df.shape[0]

238

In [107]:
range(df.shape[0])

range(0, 238)

In [108]:
df.loc[0,'non_text']

0

In [109]:
df.head()

,media,ar_num,title,text_num,source,non_source,sen_num,verb_num,non_find_verb,sub_verb,email,non_text,trust,ratio_sub
0,경기일보,329412764,"105만 고양시 발전 이끌어온 서기관 6명, 아름다운 퇴장",1176,6,1,18,16,0,8,1,0,5,0.500
1,경기일보,329412768,고양시 새해에는 교통난 해결될까 관심,1197,3,1,14,16,0,6,1,0,5,0.375
2,경기일보,329412771,"안양시, 오는 2022년까지 일자리 10만6천개 창출 목표",884,2,0,9,10,0,0,1,0,5,0.000
3,경기일보,329412773,"오명근 의원, 평택 고평지구 학군조정을 위한 의견수렴 간담회 개최",759,9,3,9,10,0,2,1,0,5,0.200
4,경기일보,329412774,"화성시, 2020년까지 신규 일자리 13만개 창출...일자리 대책 청사진 공개",937,2,0,8,8,0,0,1,0,5,0.000

In [96]:
df.head()

,media,ar_num,title,text_num,source,non_source,sen_num,verb_num,non_find_verb,sub_verb,email,non_text,trust,ratio_sub
0,경기일보,329412764,"105만 고양시 발전 이끌어온 서기관 6명, 아름다운 퇴장",1176,6,1,18,16,0,8,1,0,5,0.500
1,경기일보,329412768,고양시 새해에는 교통난 해결될까 관심,1197,3,1,14,16,0,6,1,0,5,0.375
2,경기일보,329412771,"안양시, 오는 2022년까지 일자리 10만6천개 창출 목표",884,2,0,9,10,0,0,1,0,5,0.000
3,경기일보,329412773,"오명근 의원, 평택 고평지구 학군조정을 위한 의견수렴 간담회 개최",759,9,3,9,10,0,2,1,0,5,0.200
4,경기일보,329412774,"화성시, 2020년까지 신규 일자리 13만개 창출...일자리 대책 청사진 공개",937,2,0,8,8,0,0,1,0,5,0.000

In [115]:
df['trust']  = 5

for i in range(df.shape[0]):
    if df['source'][i] < 4:
        df['trust'][i] -= 1
    
    if df['email'][i] < 2:
        df['trust'][i] -=1
    
    if df['ratio_sub'][i] > 0.5:
        df['trust'][i] -= 1
        
    if df['non_text'][i] == 1:
        df['trust'][i] = 1

df.head(10)

C:\Users\LG Gram\anaconda3\lib\site-packages\ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\LG Gram\anaconda3\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
C:\Users\LG Gram\anaconda3\lib\site-packages\ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # This is added back by InteractiveShellApp.init_path()
C:\Users\LG Gram\anaconda3\lib\site-packages\ipykernel_launcher.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,media,ar_num,title,text_num,source,non_source,sen_num,verb_num,non_find_verb,sub_verb,email,non_text,trust,ratio_sub
0,경기일보,329412764,"105만 고양시 발전 이끌어온 서기관 6명, 아름다운 퇴장",1176,6,1,18,16,0,8,1,0,4,0.500000
1,경기일보,329412768,고양시 새해에는 교통난 해결될까 관심,1197,3,1,14,16,0,6,1,0,3,0.375000
2,경기일보,329412771,"안양시, 오는 2022년까지 일자리 10만6천개 창출 목표",884,2,0,9,10,0,0,1,0,3,0.000000
3,경기일보,329412773,"오명근 의원, 평택 고평지구 학군조정을 위한 의견수렴 간담회 개최",759,9,3,9,10,0,2,1,0,4,0.200000
4,경기일보,329412774,"화성시, 2020년까지 신규 일자리 13만개 창출...일자리 대책 청사진 공개",937,2,0,8,8,0,0,1,0,3,0.000000
5,경기일보,329412786,"김포대, 중소기업 채용조건형 영마이스터 계약학과 주관대학 선정",1149,2,2,9,11,0,0,1,0,3,0.000000
6,경기일보,329427450,올 신년연휴 인천공항에 1일 평균 19만명 몰린다... 동계성수기 역대 최다 이용객 전망,822,1,2,11,10,1,0,1,0,3,0.000000
7,경기일보,329437110,올해부터 수도권·녹지 ‘첨단업종’ 공장 신·증설 허용,1141,3,4,17,10,0,7,1,0,2,0.700000
8,경기일보,329437128,"산업부, 새해부터 수도권서 첨단업종 공장 신증설 허용",1094,3,4,14,17,0,4,1,0,3,0.235294
9,경기일보,329437137,"이재정 경기도교육감, 학생들에게 보내는 2019년 새해 메시지",866,1,0,19,16,2,16,0,1,1,1.000000

In [ ]:
#write_ws.cell(5,5,'5행5열')
df.save('/Users/Jamong/Desktop/숫자.xlsx')

In [119]:
df.to_csv('labeled_trust_data_1.csv', index=False, encoding='euc-kr')

In [120]:
df.head()

,media,ar_num,title,text_num,source,non_source,sen_num,verb_num,non_find_verb,sub_verb,email,non_text,trust,ratio_sub
0,경기일보,329412764,"105만 고양시 발전 이끌어온 서기관 6명, 아름다운 퇴장",1176,6,1,18,16,0,8,1,0,4,0.500
1,경기일보,329412768,고양시 새해에는 교통난 해결될까 관심,1197,3,1,14,16,0,6,1,0,3,0.375
2,경기일보,329412771,"안양시, 오는 2022년까지 일자리 10만6천개 창출 목표",884,2,0,9,10,0,0,1,0,3,0.000
3,경기일보,329412773,"오명근 의원, 평택 고평지구 학군조정을 위한 의견수렴 간담회 개최",759,9,3,9,10,0,2,1,0,4,0.200
4,경기일보,329412774,"화성시, 2020년까지 신규 일자리 13만개 창출...일자리 대책 청사진 공개",937,2,0,8,8,0,0,1,0,3,0.000

In [ ]:
for i in range(df.shape[0]):
    if df[w] == 1:
        df['trust'] = 1
    elif (df[x] < 4) | (df[y] < 2) | (df[z] > 0.5):
        df['trust'] = 4
    elif ((df[x] < 4) & (df[y] < 2)) | ((df[x] < 4) & (df[z] > 0.5)) | ((df[y] < 2) & (df[z] > 0.5)):
        df['trust'] = 3
    elif (df[x] < 4) & (df[y] < 2) & (df[z] > 0.5):
        df['trust'] = 2
    else:
        df['trust'] = 5

In [ ]:
x = 'source'
y = 'email'
z = 'ratio_sub'
w = 'non_text'

#for i in range(df.shape[0]):
if df[w] == 1:
    df['trust'] = 1
elif (df[x] < 4) | (df[y] < 2) | (df[z] > 0.5):
    df['trust'] = 4
elif ((df[x] < 4) & (df[y] < 2)) | ((df[x] < 4) & (df[z] > 0.5)) | ((df[y] < 2) & (df[z] > 0.5)):
    df['trust'] = 3
elif (df[x] < 4) & (df[y] < 2) & (df[z] > 0.5):
    df['trust'] = 2
else:
    df['trust'] = 5

In [33]:
if df[w].items() == 1:
    print(1)

In [55]:
x = 'source'
y = 'email'
z = 'ratio_sub'
w = 'non_text'


if df[w] == 1:
    df['trust'] = 1
elif (df[x] < 4) | (df[y] < 2) | (df[z] > 0.5):
    df['trust'] = 4
elif ((df[x] < 4) & (df[y] < 2)) | ((df[x] < 4) & (df[z] > 0.5)) | ((df[y] < 2) & (df[z] > 0.5)):
    df['trust'] = 3
elif (df[x] < 4) & (df[y] < 2) & (df[z] > 0.5):
    df['trust'] = 2
else:
    df['trust'] = 5

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [21]:
x = 'source'
y = 'email'
z = 'ratio_sub'
w = 'non_text'

ls = []
#if df[w] == 0:
#    ls.append(1)
if df[x] < 4:
    ls.append(4)
elif ((df[x] < 4) and (df[y] < 2)) or ((df[x] < 4) and (df[z] > 0.5)) or ((df[y] < 2) and (df[z] > 0.5)):
    ls.append(3)
elif (df[x] < 4) and (df[y] < 2) and (df[z] > 0.5):
    ls.append(2)
else:
    ls.append(5)

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [15]:
trust('source', 'email', 'ratio_sub', 'non_text')

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().